<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Usearch - быстрый поиск тиммейта</title>

  <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
  <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/loginWindow.js"></script>
  <link rel="stylesheet" href="../static/css/mainPage.css">
  <link rel="stylesheet" href="../static/css/mainPageButtons.css">

 </head>

 <body>
    <div class="header">
        <div class="main_title">
            <div class="logo_img"></div>
            <p>Unit Search</p>
        </div>
        <div class="button_area">
            <button type="button" class="button">Login</button>
            <button type="button" class="button">Register</button>
        </div>
    </div>
    <div class="main_zone">
        <div class="post">
            <div class="big_text">
            <p>Unit Search - the best choise for searching teammates!</p>
        </div>
            <div class="main_zone_img"><img src="../static/img/img1.jpg" class="img1" alt=""></div>
        </div>
        <div class="post next">
            <div class="main_zone_img img2"></div>
            <div class="big_text add">
            <p>Big variety of games, players and search settings!</p>
        </div>
        </div>
    </div>
    <div class="credits">
        <p>Copyright © 2022 All rights reserved | Designed by Igor Andreev</p>
    </div>
 </body>
</html>