<!DOCTYPE html>
<html lang="en">
<head>
	<title>Money Hunt</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>
<body>
	<section class="hero">
		<header>
			<div class="wrapper">
				<a><img src="../static/img/logo.png" class="logo" alt="" titl=""/></a>
				<nav>
					<a href="{{ url_for('login_page') }}" class="login_btn">Login</a>
				</nav>
			</div>
		</header>

			<section class="caption">
				<br><br><br><h2 class="caption">Money hunt</h2>
				<br><br><br><h3 class="properties">our money - is yours</h3>
			</section>
	</section>

	<footer>
		<div class="copyrights wrapper">
			Copyright © 2021 All Rights Reserved.
		</div>
	</footer>
	
</body>
</html>