<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>
<body>
<section class="hero">
           <form method="post" class="register">
            <input class="buttons_reg1" name="login" id="login" type="text" placeholder="Введите логин">
            <input class="buttons_reg2" name="password" id="password" type="password" placeholder="Введите пароль">
			<a class="button_submit" type="button" href="{{ url_for('register') }}">Регистрация</a>
            <input class="button_submit" type="submit" value="Войти">
			   <span class="error">
			   {% with messages = get_flashed_messages() %}
				  {% if messages %}
					<ul class=flashes>
					{% for message in messages %}
					{{ message }}
					{% endfor %}
					</ul>
				  {% endif %}
				{% endwith %}
			   </span>
		    </form>
	</section>
	<footer>
		<div class="copyrights wrapper">
			Copyright © 2021 All Rights Reserved.
		</div>
	</footer>
</body>
</html>