@import url('http://fonts.cdnfonts.com/css/renogare-soft');

body {
	background-color: #16161A;
}

.wrapper {
	position: absolute;
	width: 99%;
	height: 98%;

    background-color: rgba(0, 0, 0, 0.44);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.44);
}

.window {
	position: relative;
	display: flex;
	flex-flow: column;

	top: 10%;
	left: calc(50% - (150px + 2vw));

	width: calc(300px + 4vw);
	height: calc(200px + 30vh);

	background-color: black;
	border-radius: 10px;
}

.button {
	position: relative;
	display: flex;
	margin-top: 40px;
    left: 15%;

	text-align: center;
    transition: 0.5s;

	width: 70%;
	height: 10%;

    background-color: white;
    color: black;
    border-style: none;
    border-radius: 0;
    outline: none;
    font-family: 'Renogare Soft', sans-serif;
}

.button::placeholder {
 color: #333333;
}

.button:focus {
 background-color: #7f5af0;
}

.button:focus::placeholder {
 color: transparent;
}

.button:target {
 background-color: #7f5af0;
}

.checkbox {
	position: relative;
	margin: 0;
    left: 15%;

	width: 14px;
	height: 14px;

	top: 5px;
}

.submit {
 top: 5%;
 justify-content: center;
 align-items: center;

 font-size: 20px;
 background-color: #7f5af0;
 border-radius: 20px;
}

.header {
 position: relative;
 top: 10px;
 left: 15%;

 font-family: 'Renogare Soft', sans-serif;
 color: white;
}

.line {
 position: relative;
 border-bottom: 1px solid #7f5af0;
 left: 15%;
 width: 70%;
}

.register_transition {
 position: relative;
 display: inline-flex;
 align-items: center;

 justify-content: center;

 top: 10px;
 left: 15%;
 width: 70%;

 font-family: 'Renogare Soft', sans-serif;
 font-size: 14px;
 color: white;
}

.register_transition p {
 display: inline;
}

.register_transition a {
 display: inline;
 margin-left: 5px;
 text-decoration-color: #2cb67d;
}

.register_transition a:visited {
 color: #2cb67d;
}

