@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
@import url('http://fonts.cdnfonts.com/css/renogare-soft');

body {
    background-color: #16161A;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: #fffffe;
    font-family: 'Comfortaa', cursive;
}


/* Заголовок */
.header {
    display: inline-flex;

    height: calc(20px + 15vh);
    width: 100%;

    align-items: center;
}

.logo_img {
    position: relative;
    top: calc(10px + 7.5vh - (3px + 3vh));
    margin-left: 0.8vw;

    width: calc(6px + 6vh);
    height: calc(6px + 6vh);

    background: url(../img/logo.png) no-repeat;
    background-size: 100%;
    color: rgba(126,90,240,0.47);

    z-index: 1;
}

.main_title {
    position: relative;
    display: flex;

    height: calc(20px + 15vh);
    width: calc(150px + 10vw);

    font-size: calc(10px + 3vh);
}

.main_title p {
    transition: 0.25s;

    position: relative;
    top: calc(10px + 7.5vh - (5px + 1.5vh));
}

.main_title p:hover {
    color: #2cb67d;
}

.button_area {
    position: relative;
    left: calc(100% - (150px + 10vw) - (300px + 20vw));
    display: flex;

    width: calc(300px + 20vw);
    height: 100%;

    justify-content: center;
    align-items: center;
}

.button {
    margin-left: 4vw;
    margin-right: 4vw;

    height: 50%;
    width: calc(50px + 10vw);

    border-style: none;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);

    transition: 0.25s;

    font-size: calc(6px + 3vh);
    font-family: 'Comfortaa', cursive;
    color: #72757e;
}

.button:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #2cb67d;
    color: #fffffe;
}

.button:active {
    border-style: none;
    background-color: #fffffe;
    color: #7f5af0;
}

/* Главная зона */
.main_zone {
    position: absolute;
    display: table-column;
    margin-top: 10px;
    height: 100%;
    width: 99%;
}

.post {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.big_text {
    position: relative;
    display: inline-flex;
    right: 50px;

    align-items: center;
    justify-content: center;

    height: calc(300px + 10vw);
    width: 50%;
}

.big_text p {
    position: relative;
    display: inline-flex;

    width: calc(100px + 20vw);

    transition: 0.25s;

    font-family: 'Renogare Soft', sans-serif;
    font-size: calc(5px + 2.5vw);
}

.big_text p:hover {
    color: #2cb67d;
}

.main_zone_img {
    display: inline-flex;
    position: relative;

    width: 50%;
    height: calc(100px + 10vw);
}

.img1 {
    position: relative;

    right: 50px;
    bottom: 40%;

    width: 100%;
    height: calc(100px + 25vw);

    transition: 0.25s;

    border-radius: 50px;
    box-shadow: 5px 5px 10px 2px black;
}

.img1:hover {
    transform: scale(1.05);
}

.img2 {
    height: calc(100px + 20vw);

    transition: 0.25s;

    background: url("../img/img2.png") no-repeat;
    background-size: 100%;
}

.img2:hover {
    transform: scale(1.05);
}

.next {
    margin-top: 120px;
}



/* Титры */
.credits {
    position: absolute;
    top: calc(100% * 2);
    left: -5px;

    width: 100.3%;
    height: 100px;

    box-shadow: 0 0 50px 50px black;
    background: black;
}

.credits p {
    position: relative;
    top: 50px;

    transition: 0.25s;
}

.credits p:hover {
    color: rgba(127,90,240,0.47);
}



/* Скролл бар */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #16161A;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #000000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(44, 182, 125, 0.24);
}

@media screen and (max-width: 600px) {
    .button_area {
        left: 0;
    }

    .button {
        font-size: calc(3px + 3vh);
    }

    .logo_img {
        top: calc(10px + 7.5vh - (3px + 3vh) + 8px);
    }

    .main_title p {
        font-size: calc(5px + 3vh);
    }

    .next {
        margin-top: 10px;
    }

    .post {
        left: 20px;
    }

    .add {
        left: 0;
    }

    .credits {
        margin-top: -200px;
    }
}