
    body {
        line-height:1;
    }

    img{
        max-width: 100%;
    }

    blockquote, q {
        quotes:none;
    }

    a {
        font-size:100%;
        text-decoration: none;
        background:transparent;
        color: #000000;
    }

    table {
        border-collapse:collapse;
        border-spacing:0;
    }