
/*  Fonts  */
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*  General CSS  */
body{
    background: rgb(0, 0, 0);
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

/*  Header Section  */

.login_btn{
    margin: 500px 500px 500px;
    padding: 10px 30px 11px 30px;
    border: 2px solid #000000;
    background: transparent;
}

.login_btn:hover{
    background: rgba(0, 0, 0, 0.49);
    color: #ffffff;
}

/*  Hero Section  */
.hero{
    width: 100%;
    height: 900px;
    position: relative;
    background: url('../img/hero.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero .caption{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
}

.hero .caption h2{
    color: #000000;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.hero .caption h3{
    color: #000000;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}

footer .copyrights{
    display: block;
    text-align: center;
    padding: 40px 0;
    margin-top: 60px;
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    border-top: 1px solid #ffffff;
}

@media (max-width:1500px){
    .hero{
        height: 800px;
    }
}


@media (max-width:800px){
    .hero{
        height: 600px;
    }

    .hero .caption{
        width: 92.72727272727273%;
        padding: 0 3.636363636363636%;
    }

    .hero .caption h3{
        margin: 0;
        left: 0;
    }
}


@media (max-width:500px) {
    .hero .caption h2 {
        font-size: 85px;
    }

    .hero .caption h3 {
        font-size: 16px;
    }
}